<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/nav') %>
  
  <div class="jumbotron">
    <h1>My Website</h1>
    <p>Welcome!</p>
  </div>
</body>
</html>